apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-flask-app #The name of the Kubernetes Deployment to be created in the Kubernetes cluster
  labels:
    app: my-flask-app
spec:
  replicas: 1 #The number of pods to be created in the Kubernetes cluster for the React.js application container
  selector:
    matchLabels:
      app: my-flask-app
  template:
    metadata:
      labels:
        app: my-flask-app
    spec:
      containers:
      - name: my-flask-app
        image: 16.170.238.194:5000/jenkins #${DOCKER_BFLASK_IMAGE} #The Docker image
        ports:
        - containerPort: 5000